@use "variables";

.section-stay-productive-card {
  width: 80%;
  padding: 1.25rem;
  box-shadow: 0 0 1.25rem variables.$Light-Gray;
  margin: 3.125rem auto 5.625rem;
  &__description {
    // border: 1px solid;
    font-size: 0.68em;
    line-height: 20px;
    color: variables.$Very-Dark-Blue;
    margin-bottom: 1.25rem;
  }
  &__data-ceo {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    img {
      width: 1.8125rem;
      height: 1.8125rem;
      border-radius: 50%;
    }
    div {
      h3 {
        font-size: 0.8em;
      }
      p {
        font-size: 0.44em;
      }
    }
  }
}

@media (min-width: variables.$Width-media) {
  .section-stay-productive-card {
    margin-left: 0;
    width: 66%;
    &__description {
      // border: 1px solid;
      font-size: 1.2em;
      line-height: 23px;
      margin-bottom: 1.25rem;
    }
  }
}
