@use "variables";
@use "initial";
@use "footer";
@use "mixins";
@use "sections";
@use "card";

.main-container {
  // border: 1px solid red;
  min-width: variables.$Width-mobile;
  min-height: variables.$Height-mobile;
  margin: 0 auto 3.75rem;
}

@media (min-width: variables.$Width-media) {
  .main-container {
    min-width: variables.$Width-desktop;
    min-height: variables.$Height-desktop;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0.9375rem 0.75rem 0.75rem 0.625rem;
  &__logo {
    width: 4.375rem;
    height: 1.125rem;
    @include mixins.width_desktop(10.3125rem, 3.3125rem);
  }
  &__menu {
    display: flex;
    gap: 1.25rem;
    // border: 1px solid blue;
    @include mixins.width_desktop(
      // width
      18.8125rem,
      // height
      1.375rem,
      // font-size
      1.4em,
      // color
      variables.$Bright-Blue,
      // gap
      4.375rem
    );
    list-style: none;
    li {
      // border: 1px solid green;
      font-size: 0.7em;
      a {
        text-decoration: none;
        color: variables.$Desaturated-Blue;
      }
    }
  }
}

@media (min-width: variables.$Width-media) {
  .nav-header {
    padding: 2.1875rem 2.5rem 0.75rem 2.5rem;
  }
}

.header-web {
  &__ilustration {
    width: 100%;
  }
  &__title {
    padding: 25px 25px 25px 20px;
    font-family: variables.$Font-family-header;
    color: variables.$Very-Dark-Blue;
    // font-size: 1.3em;
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
  }
  &__description {
    // border: 1px solid red;
    text-align: center;
    min-width: 320px;
    margin: 0 auto 20px;
    // font-size: 0.7em;
    font-size: 1em;
    color: variables.$Very-Dark-Blue;
    line-height: 20px;
  }
  &__form {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    height: 90px;
    margin: auto;
    div {
      input[type="text"] {
        // border: 4px solid green;
        @include mixins.form_input;
        // border: none;
      }
      input[type="text"]::placeholder {
        @include mixins.form_input_placeholder;
      }
      .error1 {
        display: none;
        @include mixins.error(variables.$Carmesi);
      }
    }
    input[type="submit"] {
      @include mixins.send_button();
    }
  }
}

@media (min-width: variables.$Width-media) {
  .header-web {
    // border: 1px solid green;
    padding-left: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 300px;

    &__ilustration {
      flex: 1;
      width: 528px;
    }
    div {
      // border: 1px solid red;
      flex: 1;
      width: 795px;
      padding-left: 0;
      margin-left: 0;
    }
    &__title {
      // border: 1px solid red;
      margin-left: 0;
      padding-left: 0;
      font-size: 2.48em;
      line-height: 55px;
      text-align: left;
    }
    &__description {
      width: 100%;
      // border: 1px solid green;
      margin-left: 0;
      text-align: left;
      font-size: 1.28em;
      line-height: 25px;
    }
    &__form {
      // border: 1px solid red;
      width: 80%;
      margin-left: 0;
      flex-direction: row;
      div {
        // border: 1px solid blue;
        width: 70%;
        input[type="text"] {
          width: 100%;
          height: 40px;
        }
      }
      input[type="submit"] {
        // border: 1px solid black;
        width: 40%;
        flex-grow: 1;
        height: 40px;
      }
    }
  }
}
