@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.footer-web {
  background-color: hsl(243deg, 87%, 12%);
  padding: 3.75rem 1.6875rem 3.125rem 2.5rem;
}
.footer-web .section-contact {
  margin-bottom: 2.5rem;
}
.footer-web .section-contact__logo {
  width: 10.375rem;
  height: 2.9375rem;
  margin-bottom: 1.5625rem;
}
.footer-web .section-contact__data-contact-1, .footer-web .section-contact__data-contact-2 {
  display: flex;
  align-items: center;
  line-height: 1.6875rem;
  gap: 0.9375rem;
}
.footer-web .section-contact__data-contact-1 img, .footer-web .section-contact__data-contact-2 img {
  width: 0.9375rem;
  height: 0.6875rem;
}
.footer-web .section-contact__data-contact-1 a, .footer-web .section-contact__data-contact-2 a {
  text-decoration: none;
  font-size: 0.9em;
  color: #bbb;
}
.footer-web .section-menu {
  margin-bottom: 2.5rem;
}
.footer-web .section-menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  list-style: none;
}
.footer-web .section-menu ul li {
  font-size: 1em;
}
.footer-web .section-menu ul li a {
  text-decoration: none;
  color: #bbb;
}
.footer-web .section-menu ul li a:hover {
  color: hsl(224deg, 93%, 58%);
}
.footer-web .section-social-networks {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}
.footer-web .section-social-networks ion-icon {
  width: 0.9375rem;
  height: 0.9375rem;
  padding: 0.3125rem;
  color: #bbb;
  border: 0.0625rem solid #bbb;
  border-radius: 50%;
}
.footer-web .section-social-networks ion-icon:hover {
  cursor: pointer;
  color: hsl(224deg, 93%, 58%);
  border: 0.0625rem solid hsl(224deg, 93%, 58%);
}

@media (min-width: 81.25rem) {
  .footer-web {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-web .section-menu {
    margin-top: 5rem;
  }
  .footer-web .section-social-networks {
    margin-top: 5rem;
  }
}
.attribution {
  margin: 3.75rem auto 3.75rem;
  font-size: 0.875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.section-stay-productive {
  margin-top: 160px;
}
.section-stay-productive__ilustration {
  width: 100%;
}
.section-stay-productive__title {
  margin: 5.625rem 0 2.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: center;
  color: hsl(243deg, 87%, 12%);
  font-weight: 700;
}
.section-stay-productive__description {
  margin-left: 1.25rem;
  font-size: 0.9em;
  color: hsl(243deg, 87%, 12%);
  margin-bottom: 2.1875rem;
  line-height: 1.25rem;
}
.section-stay-productive__link {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  padding-bottom: 0.3125rem;
  width: 8.6875rem;
  margin: auto;
  margin-top: 1.25rem;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
  border-bottom: 0.0625rem solid hsl(170deg, 45%, 43%);
  color: hsl(170deg, 45%, 43%);
  font-weight: 700;
}
.section-stay-productive__link a {
  text-decoration: none;
}
.section-stay-productive__link a:hover {
  cursor: pointer;
  color: hsla(170deg, 45%, 43%, 0.756);
}

@media (min-width: 81.25rem) {
  .section-stay-productive {
    padding-left: 40px;
    display: flex;
    flex-direction: row-reverse;
  }
  .section-stay-productive__ilustration {
    flex: 1;
    width: 33rem;
    height: 31.25rem;
  }
  .section-stay-productive .container-stay-productive {
    flex: 1;
  }
  .section-stay-productive__title {
    text-align: left;
    font-size: 2.48em;
    line-height: 3.4375rem;
  }
  .section-stay-productive__description {
    width: 100%;
    font-size: 1.26em;
    line-height: 1.5625rem;
  }
  .section-stay-productive__link {
    font-size: 1.1em;
    width: 182px;
    margin-left: 0;
    text-align: left;
  }
}
.section-get-early-access {
  background-color: hsl(238deg, 22%, 44%);
  color: #bbb;
  height: 21.875rem;
  padding: 3.125rem 1.25rem 2.5rem 1.25rem;
}
.section-get-early-access__title {
  font-size: 1.2em;
  margin-bottom: 1.0625rem;
  text-align: center;
}
.section-get-early-access__description {
  font-size: 1em;
  text-align: center;
  margin-bottom: 1.6875rem;
}
.section-get-early-access__form {
  width: 14.375rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-get-early-access__form div input[type=text] {
  width: 100%;
  height: 2.3125rem;
  width: 100%;
  border-radius: 0.1875rem;
  border-color: hsl(0deg, 0%, 75%);
  outline: none;
  padding-left: 1rem;
}
.section-get-early-access__form div input[type=text]::placeholder {
  color: hsl(0deg, 0%, 75%);
  padding-left: 0.0625rem;
}
.section-get-early-access__form div .error2 {
  display: none;
  font-size: 0.7em;
  color: #bbb;
  margin-top: 0;
}
.section-get-early-access__form input[type=submit] {
  width: 100%;
  height: 2.3125rem;
  background-color: hsl(224deg, 93%, 58%);
  color: #bbb;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  border-radius: 0.1875rem;
}
.section-get-early-access__form input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(150%);
}

@media (min-width: 81.25rem) {
  .section-get-early-access {
    display: flex;
    gap: 80px;
    align-items: center;
  }
  .section-get-early-access article {
    flex: 1;
    width: 40rem;
  }
  .section-get-early-access__title {
    text-align: left;
    font-size: 2.1em;
  }
  .section-get-early-access__description {
    text-align: left;
    font-size: 1.2em;
  }
  .section-get-early-access__form {
    flex: 1;
    width: 28.75rem;
    gap: 0.75rem;
  }
  .section-get-early-access__form div input[type=text] {
    width: 85%;
    border: none;
  }
  .section-get-early-access__form input[type=submit] {
    width: 40%;
  }
}
.section-stay-productive-card {
  width: 80%;
  padding: 1.25rem;
  box-shadow: 0 0 1.25rem hsl(0deg, 0%, 75%);
  margin: 3.125rem auto 5.625rem;
}
.section-stay-productive-card__description {
  font-size: 0.68em;
  line-height: 20px;
  color: hsl(243deg, 87%, 12%);
  margin-bottom: 1.25rem;
}
.section-stay-productive-card__data-ceo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.section-stay-productive-card__data-ceo img {
  width: 1.8125rem;
  height: 1.8125rem;
  border-radius: 50%;
}
.section-stay-productive-card__data-ceo div h3 {
  font-size: 0.8em;
}
.section-stay-productive-card__data-ceo div p {
  font-size: 0.44em;
}

@media (min-width: 81.25rem) {
  .section-stay-productive-card {
    margin-left: 0;
    width: 66%;
  }
  .section-stay-productive-card__description {
    font-size: 1.2em;
    line-height: 23px;
    margin-bottom: 1.25rem;
  }
}
.main-container {
  min-width: 21.875rem;
  min-height: 170rem;
  margin: 0 auto 3.75rem;
}

@media (min-width: 81.25rem) {
  .main-container {
    min-width: 84.1875rem;
    min-height: 148.75rem;
  }
}
.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0.9375rem 0.75rem 0.75rem 0.625rem;
}
.nav-header__logo {
  width: 4.375rem;
  height: 1.125rem;
}
@media (min-width: 81.25rem) {
  .nav-header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10.3125rem;
    font-weight: 700;
    height: 3.3125rem;
    font-size: unset;
    color: unset;
  }
}
.nav-header__menu {
  display: flex;
  gap: 1.25rem;
  list-style: none;
}
@media (min-width: 81.25rem) {
  .nav-header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18.8125rem;
    font-weight: 700;
    height: 1.375rem;
    font-size: 1.4em;
    color: hsl(224deg, 93%, 58%);
  }
}
.nav-header__menu li {
  font-size: 0.7em;
}
.nav-header__menu li a {
  text-decoration: none;
  color: hsl(238deg, 22%, 44%);
}

@media (min-width: 81.25rem) {
  .nav-header {
    padding: 2.1875rem 2.5rem 0.75rem 2.5rem;
  }
}
.header-web__ilustration {
  width: 100%;
}
.header-web__title {
  padding: 25px 25px 25px 20px;
  font-family: "Raleway", sans-serif;
  color: hsl(243deg, 87%, 12%);
  font-size: 1.4em;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
}
.header-web__description {
  text-align: center;
  min-width: 320px;
  margin: 0 auto 20px;
  font-size: 1em;
  color: hsl(243deg, 87%, 12%);
  line-height: 20px;
}
.header-web__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  height: 90px;
  margin: auto;
}
.header-web__form div input[type=text] {
  height: 2.3125rem;
  width: 100%;
  border-radius: 0.1875rem;
  border-color: hsl(0deg, 0%, 75%);
  outline: none;
  padding-left: 1rem;
}
.header-web__form div input[type=text]::placeholder {
  color: hsl(0deg, 0%, 75%);
  padding-left: 0.0625rem;
}
.header-web__form div .error1 {
  display: none;
  font-size: 0.7em;
  color: #dc143c;
  margin-top: 0;
}
.header-web__form input[type=submit] {
  height: 2.3125rem;
  background-color: hsl(224deg, 93%, 58%);
  color: #bbb;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  border-radius: 0.1875rem;
}
.header-web__form input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(150%);
}

@media (min-width: 81.25rem) {
  .header-web {
    padding-left: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 300px;
  }
  .header-web__ilustration {
    flex: 1;
    width: 528px;
  }
  .header-web div {
    flex: 1;
    width: 795px;
    padding-left: 0;
    margin-left: 0;
  }
  .header-web__title {
    margin-left: 0;
    padding-left: 0;
    font-size: 2.48em;
    line-height: 55px;
    text-align: left;
  }
  .header-web__description {
    width: 100%;
    margin-left: 0;
    text-align: left;
    font-size: 1.28em;
    line-height: 25px;
  }
  .header-web__form {
    width: 80%;
    margin-left: 0;
    flex-direction: row;
  }
  .header-web__form div {
    width: 70%;
  }
  .header-web__form div input[type=text] {
    width: 100%;
    height: 40px;
  }
  .header-web__form input[type=submit] {
    width: 40%;
    flex-grow: 1;
    height: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
