@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.footer-web {
  background-color: hsl(243deg, 87%, 12%);
  padding: 60px 27px 50px 40px;
}
.footer-web .section-contact {
  margin-bottom: 40px;
}
.footer-web .section-contact__logo {
  width: 166px;
  height: 47px;
  margin-bottom: 25px;
}
.footer-web .section-contact__data-contact-1, .footer-web .section-contact__data-contact-2 {
  display: flex;
  align-items: center;
  line-height: 27px;
  gap: 15px;
}
.footer-web .section-contact__data-contact-1 img, .footer-web .section-contact__data-contact-2 img {
  width: 15px;
  height: 11px;
}
.footer-web .section-contact__data-contact-1 a, .footer-web .section-contact__data-contact-2 a {
  text-decoration: none;
  font-size: 0.9em;
  color: #bbb;
}
.footer-web .section-menu {
  margin-bottom: 40px;
}
.footer-web .section-menu ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
  list-style: none;
}
.footer-web .section-menu ul li {
  font-size: 1em;
}
.footer-web .section-menu ul li a {
  text-decoration: none;
  color: #bbb;
}
.footer-web .section-menu ul li a:hover {
  color: hsl(224deg, 93%, 58%);
}
.footer-web .section-social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-web .section-social-networks ion-icon {
  width: 15px;
  height: 15px;
  padding: 5px;
  color: #bbb;
  border: 1px solid #bbb;
  border-radius: 50%;
}
.footer-web .section-social-networks ion-icon:hover {
  cursor: pointer;
  color: hsl(224deg, 93%, 58%);
  border: 1px solid hsl(224deg, 93%, 58%);
}

@media (min-width: 1300px) {
  .footer-web {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-web .section-menu {
    margin-top: 80px;
  }
  .footer-web .section-social-networks {
    margin-top: 80px;
  }
}
.attribution {
  margin: 60px auto 60px;
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.section-stay-productive {
  margin-top: 160px;
}
.section-stay-productive__ilustration {
  width: 100%;
}
.section-stay-productive__title {
  margin: 90px 0 40px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: center;
  color: hsl(243deg, 87%, 12%);
  font-weight: 700;
}
.section-stay-productive__description {
  font-size: 0.95em;
  color: hsl(243deg, 87%, 12%);
  margin-bottom: 35px;
  line-height: 20px;
}
.section-stay-productive__link {
  padding-bottom: 5px;
  width: 45%;
  margin: auto;
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
  border-bottom: 1px solid hsl(170deg, 45%, 43%);
  color: hsl(170deg, 45%, 43%);
  font-weight: 700;
}

@media (min-width: 1300px) {
  .section-stay-productive {
    display: flex;
    flex-direction: row-reverse;
  }
  .section-stay-productive__ilustration {
    width: 528px;
    height: 500px;
  }
  .section-stay-productive__title {
    text-align: left;
    font-size: 3em;
    line-height: 55px;
  }
  .section-stay-productive__description {
    width: 92%;
    font-size: 1.3em;
    line-height: 25px;
  }
  .section-stay-productive__link {
    font-size: 1.1em;
    width: 205px;
    margin-left: 0;
    text-align: left;
  }
}
.section-get-early-access {
  background-color: hsl(238deg, 22%, 44%);
  color: #bbb;
  height: 350px;
  padding: 50px 20px 40px 40px;
}
.section-get-early-access__title {
  font-size: 1.2em;
  margin-bottom: 17px;
  text-align: center;
}
.section-get-early-access__description {
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 27px;
}
.section-get-early-access__form {
  width: 230px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-get-early-access__form div input[type=text] {
  width: 100%;
  height: 37px;
  width: 100%;
  border-radius: 3px;
  border-color: hsl(238deg, 22%, 44%);
  outline: none;
  padding-left: 16px;
}
.section-get-early-access__form div input[type=text]::placeholder {
  color: hsl(0deg, 0%, 75%);
  padding-left: 1px;
}
.section-get-early-access__form div .error2 {
  display: none;
  font-size: 0.7em;
  color: #bbb;
  margin-top: 0;
}
.section-get-early-access__form input[type=submit] {
  width: 100%;
  height: 37px;
  background-color: hsl(224deg, 93%, 58%);
  color: #bbb;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  border-radius: 3px;
}
.section-get-early-access__form input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(150%);
}

@media (min-width: 1300px) {
  .section-get-early-access {
    display: flex;
    align-items: center;
  }
  .section-get-early-access article {
    width: 640px;
  }
  .section-get-early-access__title {
    text-align: left;
    font-size: 2.1em;
  }
  .section-get-early-access__description {
    text-align: left;
    font-size: 1.3em;
  }
  .section-get-early-access__form {
    width: 460px;
    gap: 12px;
  }
  .section-get-early-access__form input[type=submit] {
    width: 40%;
  }
}
.section-stay-productive-card {
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 20px hsl(0deg, 0%, 75%);
  margin: 50px auto 90px;
}
.section-stay-productive-card__description {
  font-size: 0.66em;
  margin-bottom: 20px;
}
.section-stay-productive-card__data-ceo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-stay-productive-card__data-ceo img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
}
.section-stay-productive-card__data-ceo div h3 {
  font-size: 0.7em;
}
.section-stay-productive-card__data-ceo div p {
  font-size: 0.44em;
}

@media (min-width: 1300px) {
  .section-stay-productive-card {
    margin-left: 0;
    width: 34%;
  }
}
.main-container {
  width: 350px;
  height: 2700px;
  margin: 0 auto 16px;
}

@media (min-width: 1300px) {
  .main-container {
    width: 1297px;
    height: 2310px;
  }
}
.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 12px 12px 10px;
}
.nav-header__logo {
  width: 70px;
  height: 18px;
}
@media (min-width: 1300px) {
  .nav-header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 165px;
    font-weight: 700;
    height: 53px;
    font-size: unset;
    color: unset;
  }
}
.nav-header__menu {
  display: flex;
  gap: 20px;
}
@media (min-width: 1300px) {
  .nav-header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 301px;
    font-weight: 700;
    height: 22px;
    font-size: 1.4em;
    color: hsl(224deg, 93%, 58%);
  }
}
.nav-header__menu ul {
  font-size: 0.7em;
}
.nav-header__menu ul a {
  text-decoration: none;
  color: hsl(238deg, 22%, 44%);
}

@media (min-width: 1300px) {
  .nav-header {
    padding: 35px 12px 12px 10px;
  }
}
.header-web__ilustration {
  width: 100%;
}
.header-web__title {
  padding: 25px 25px 25px 20px;
  font-family: "Raleway", sans-serif;
  color: hsl(243deg, 87%, 12%);
  font-size: 1.4em;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
}
.header-web__description {
  text-align: center;
  width: 320px;
  margin: 0 auto 20px;
  font-size: 0.95em;
  color: hsl(243deg, 87%, 12%);
  line-height: 20px;
}
.header-web__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
  height: 90px;
  margin: auto;
}
.header-web__form div input[type=text] {
  height: 37px;
  width: 100%;
  border-radius: 3px;
  border-color: hsl(238deg, 22%, 44%);
  outline: none;
  padding-left: 16px;
}
.header-web__form div input[type=text]::placeholder {
  color: hsl(0deg, 0%, 75%);
  padding-left: 1px;
}
.header-web__form div .error1 {
  display: none;
  font-size: 0.7em;
  color: #dc143c;
  margin-top: 0;
}
.header-web__form input[type=submit] {
  height: 37px;
  background-color: hsl(224deg, 93%, 58%);
  color: #bbb;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  border-radius: 3px;
}
.header-web__form input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(150%);
}

@media (min-width: 1300px) {
  .header-web {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 300px;
  }
  .header-web__ilustration {
    width: 528px;
  }
  .header-web div {
    width: 795px;
    padding-left: 0;
    margin-left: 0;
  }
  .header-web__title {
    margin-left: 0;
    padding-left: 0;
    font-size: 3em;
    line-height: 55px;
    text-align: left;
  }
  .header-web__description {
    width: 87%;
    margin-left: 0;
    text-align: left;
    font-size: 1.3em;
    line-height: 25px;
  }
  .header-web__form {
    width: 80%;
    margin-left: 0;
    flex-direction: row;
  }
  .header-web__form div {
    width: 70%;
  }
  .header-web__form div input[type=text] {
    width: 100%;
    height: 40px;
  }
  .header-web__form input[type=submit] {
    width: 40%;
    flex-grow: 1;
    height: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
